{{#
	@name Arrow Button
	@desc An arrow button that can be configured to have multiple direction arrows if needed.
#}}

<div
    x-data="magnetic()"
    x-ref="element"
    @mousemove="magnetize($event, $el, $refs.element)"
    @mouseleave="demagnetize($refs.element)"
>

    <{{ as or "button" }}
        @click="{{ click }}"

        class="
            relative flex justify-center items-center
            w-20 h-20 focus:outline-none
            {{ background ?? "bg-neutral hover:bg-primary" }}
            rounded-full transition group
            {{ class }}
        "
    >

        <div
            class="
                {{ if direction === "down" }}
                {{ elseif direction === "up" }}
                    rotate-180
                {{ elseif direction === "left" }}
                    rotate-90
                {{ else }}
                    -rotate-90
                {{ /if }}
            "
        >
            {{ svg src="visuals/arrow-down" class="h-8 fill-current text-white group-hover:text-black transition" }}
        </div>

    </{{ as or "button" }}>

</div>
