{{#
	@name Background
	@desc Used to add cover backgrounds in elements
#}}

<div
    {{ attribute }}
    class="absolute inset-0 w-full h-full {{ class }}"
>
    {{ if asset_type === "video" }}
        <video
            x-data=""
            x-ref="video"
            x-init="$refs.video.play()"
            class="absolute inset-0 w-full h-full object-cover"
            autoplay
            muted
            loop
            playsinline
            poster="{{ poster }}"
        >

            {{ if mp4 }}
                <source src="{{ mp4 }}" type="video/mp4" />
            {{ endif }}

            {{ if webm }}
                <source src="{{ webm }}" type="video/webm" />
            {{ endif }}
        </video>

    {{ else }}
        {{ partial:components/picture
            :image="image"
            class="w-full h-full"
            cover="true"
            sizes="auto"
        }}
    {{ /if }}
</div>
