{{#
	@name Buttons
	@desc Multiple buttons component calling in `resources/views/components/_button.antlers.html`.
#}}

{{ if buttons }}
    <div
        {{ attribute }}

        {{ if is_article }}
            x-data="animate()"
            x-init="mounted()"
            x-ref="element"
        {{ /if }}

        class="
            {{ is_article ?= "size-md" }}
            flex sm:inline-flex flex-col md:flex-row justify-start md:items-center flex-wrap space-y-4 md:space-y-0 md:space-x-8
            {{ class }}
        "
    >
        {{ buttons }}
            {{ partial:components/button
                :attribute="button_attribute"
            }}
        {{ /buttons }}
    </div>
{{ /if }}
