{{#
	@name Button
	@desc A single button component. Faux is used when a button is displayed inside a link (for example in link blocks).
#}}

{{ if label }}
    <div
        x-data="{
            hovered: false
        }"
        class="{{ wrapper_class }}"
    >
        <div
            {{ if magnetic }}
                x-data="magnetic()"
                x-ref="button"
                @mousemove="magnetize($event, $el, $refs.button)"
            {{ /if }}
            @mouseleave="
                {{ if magnetic }}
                    demagnetize($refs.button);
                {{ /if }}

                if (!avalanche.isTouch) {
                    hovered = false;
                }
            "
            @mouseenter="
                if (!avalanche.isTouch) {
                    hovered = true;
                };
            "
            class="relative inline-flex hover:z-10"
        >

            <{{ as or "a" }}
                {{ attribute }}
                class="
                    {{ if size === 'sm' }}
                        px-2 md:px-6 py-1 md:py-3
                    {{ else }}
                        min-w-48 px-4 md:px-5 py-2 md:py-3
                    {{ /if }}
                    {{ class }}
                    relative focus:outline-none group
                "
                {{ unless faux }}
                    {{ partial:snippets/link_attributes }}
                {{ /unless }}
            >
                <div
                    class="
                        {{ if style === 'white' }}
                            border-black lg:group-hover:border-primary
                        {{ else }}
                            border-primary
                        {{ /if }}
                        absolute inset-0 w-full h-full
                        border rounded-full
                        overflow-hidden lg:group-hover:scale-95 transition
                    "
                >
                    <div class="w-full h-full bg-primary opacity-0 group-hover:opacity-100 transition-opacity"></div>
                </div>

                <div
                    class="
                        {{ if style === 'white' }}
                            text-black
                        {{ else }}
                            text-white lg:group-hover:text-black
                        {{ /if }}
                        relative text-xs lg:text-sm uppercase tracking-wide text-center transition
                    "
                >
                    {{ label }}
                </div>
            </{{ as or "a" }}>
        </div>
    </div>
{{ /if }}
