{{#
	@name Card Wide
#}}

<div class="w-80 sm:w-96 xl:w-[28rem] 2xl:w-[32rem]">
    <a
        data-mouse-manual
        x-data

        {{ if action_override }}
            {{ partial:snippets/link_attributes }}

            @mouseenter="mouse.createEvent('cursorPlayEnter')"
            @mouseleave="mouse.createEvent('cursorPlayLeave')"
        {{ else }}
            {{ action }}
                {{ partial:snippets/link_attributes }}

                @mouseenter="mouse.createEvent('cursorPlayEnter')"
                @mouseleave="mouse.createEvent('cursorPlayLeave')"
            {{ /action }}
        {{ /if }}
        class="w-full group"
    >
    {{# <{{ partial:snippets/link_tag_generator }}> #}}

        <div class="relative w-full aspect-video overflow-hidden group-hover:scale-110 transition-transform duration-300 ease-in-out-circ">
            {{ media }}
                {{ partial:components/background
                    class="group-hover:scale-110 transition-transform duration-500 ease-in-out-circ"
                }}
            {{ /media }}
        </div>

        {{ if title }}
            {{ partial:typography/h3
                :content="title"
                color="text-white group-hover:text-primary"
                class="mt-5 transition"
            }}
        {{ /if }}

    {{# </{{ partial:snippets/link_tag_generator }}> #}}
    </a>
</div>
