{{#
	@name Card Wide Small
#}}

<div class="w-64 sm:w-80 xl:w-96">
    <a
        {{# data-mouse-manual #}}
        x-data
        {{ action }}
            {{ partial:snippets/link_attributes }}

            {{# @mouseenter="mouse.createEvent('cursorPlayEnter')" #}}
            {{# @mouseleave="mouse.createEvent('cursorPlayLeave')" #}}
        {{ /action }}
        class="w-full group"
    >
    {{# <{{ partial:snippets/link_tag_generator }}> #}}

        <div class="relative w-full aspect-video overflow-hidden group-hover:scale-110 transition-transform duration-300 ease-in-out-circ">
            {{ media }}
                {{ partial:components/background
                    class="group-hover:scale-110 transition-transform duration-500 ease-in-out-circ"
                }}
            {{ /media }}
        </div>

        {{ if title }}
            {{ partial:typography/h3
                :content="title"
                color="text-white group-hover:text-primary"
                class="mt-4 transition"
                size="sm"
            }}
        {{ /if }}

    {{# </{{ partial:snippets/link_tag_generator }}> #}}
    </a>
</div>
