{{#
	@name Close Button
	@desc Close button used in lightboxes & modals.
#}}

<div x-ref="button" class="absolute right-8 top-8">

    <div
        x-data="magnetic()"
        x-ref="element"
        @mousemove="magnetize($event, $el, $refs.element)"
        @mouseleave="demagnetize($refs.element)"
        class="flex"
    >

        <button
            @click="{{ click ?? "close()" }}"
            class="inline-flex justify-center items-center w-16 h-16 rounded-full bg-secondary-500 hover:bg-secondary  text-black focus:outline-none  transition duration-300 ease-in-out-circ group"
            aria-label="Close"
        >

            {{ partial:components/close
                size="w-6 h-6"
                color="border-white group-hover:border-black"
            }}

        </button>

    </div>
</div>
