{{#
	@name Nav Menu Toggle
	@desc Toggles the hidden menu
#}}

<div
    x-data="magnetic()"
    x-ref="element"
    x-cloak
    @mousemove="magnetize($event, $el, $refs.element)"
    @mouseleave="demagnetize($refs.element)"
    class="lg:hidden"
>

    <button
        x-data="{
            open: false,

            init() {
                this.$watch('$store.navigator.open', value => {
                    if (value) {
                        this.open = true;
                    } else {
                        this.open = false;
                    }
                });
            },
        }"
        @click="$store.navigator.toggle()"
        class="relative w-10 h-10 rounded-full focus-visible:outline-none group"
    >

        <div
            class="absolute inset-0 w-full h-full bg-white rounded-full transform group-hover:scale-110 transition-transform duration-300 ease-in-out-circ"
        ></div>

        <div
            class="absolute inset-0 flex flex-col justify-center w-full h-full p-2.5 space-y-[4px]"
        >
            <div class="w-full h-[2px] bg-black"></div>
            <div class="w-full h-[2px] bg-black"></div>
            <div class="w-full h-[2px] bg-black"></div>
        </div>

    </button>
</div>
