{{#
	@name Person Thumb
	@desc A single person thumbnail component. Used with the people block and People collection.
#}}

<button
    class="relative z-10 text-inherit focus:outline-none text-center transition duration-300 ease-in-out-quad group"
    @click="
        $store.lightboxPerson.name = '{{ title }}';
        $store.lightboxPerson.bio = `{{ bio }}`;
        $store.lightboxPerson.asset_type = '{{ asset_type }}';
        $store.lightboxPerson.image = '{{ image }}';
        $store.lightboxPerson.webm = '{{ webm }}';
        $store.lightboxPerson.mp4 = '{{ mp4 }}';
        $store.lightboxPerson.poster = '{{ poster }}';
        $store.lightboxPerson.open = true;
    "
>

    {{# -- π ----
    // :: PROFILE IMAGE/VIDEO
    // : ------------------------------------ #}}
    <div
        x-data="magnetic()"
        x-ref="element"
        @mousemove="magnetize($event, $el, $refs.element)"
        @mouseleave="demagnetize($refs.element)"
        class="relative flex justify-center mb-4 w-28 h-28"
    >

        <div
            class="absolute inset-0 w-full h-full bg-primary rounded-full transform scale-90 group-focus:scale-110 group-hover:scale-110 transition-transform duration-300 ease-in-out-quad">
        </div>

        <div class="relative w-full h-full bg-charcoal rounded-full overflow-hidden">

            {{ partial:components/background
                :asset_type="asset_type"
                :image="image"
                :webm="webm"
                :mp4="mp4"
                :poster="poster"
                class="transform group-hover:scale-110 transition-transform duration-300 ease-in-out-quad"
            }}

        </div>

    </div>

    {{# -- π ----
    // :: NAME
    // : ------------------------------------ #}}
    {{ partial:typography/paragraph
        as="div"
        :content="title"
        margin=""
    }}

</button>
