{{#
	@name Pull quote
	@desc The pull quote component. A pull quote with an optional author.
    @set page.article.pull_quote
#}}

<div
    x-data
    x-ref="container"
    class="size-{{ set:size }} my-4"
>

    <div
        {{# x-data="lines()" #}}
        x-data="fadeIn()"

        x-init="
            delay = avalanche.delay.default + {{ increment:block{{ block:index }}set{{ index }} by="0.4" }};
            $nextTick(() => {
                trigger = $refs.container;
                mounted();
            });
        "

        x-ref="element"
        class="p-0 m-0 text-secondary-500 italic text-3xl leading-snug"
    >
        {{ set:quote | nl2br }}
    </div>

    {{ if set:author }}
        <span
            x-data="words()"

            x-init="
                delay = avalanche.delay.default + {{ increment:block{{ block:index }}set{{ index }} by="0.4" }};
                $nextTick(() => {
                    trigger = $refs.container;
                    mounted();
                });
            "

            x-ref="element"
            class="block mt-4 font-bold text-gray"
        >
            {{ set:author }}
        </span>
    {{ /if }}
</div>
