{{#
	@name Headline
	@desc The Headline block
    @set page.blocks.headline
#}}

<section
    class="
        {{ if layout === "full" }}
            mx-auto w-full max-w-screen-3xl px-10
        {{ else }}
            fluid-container
        {{ /if }}

        flex

        {{ if alignment === "center" }}
            justify-center text-center
        {{ elseif alignment === "right" }}
            justify-end
        {{ /if }}

        {{ dark_mode ?= "text-white" }}
    "
>
    {{ partial:typography/h2
        as="div"
        :content="text"
        class="max-w-6xl bold-highlight"
        attribute="
            x-data='words()'
            x-init='mounted()'
            x-ref='element'
        "
    }}
</section>
