{{#
	@name Media Grid
	@desc Set rows of media assets with a variety of layouts
    @set page.blocks.media_grid
#}}

<section
    id="{{ block:anchor }}"
    class="relative w-full {{ partial:snippets/no_block_spacing }} overflow-hidden"
>

    <div class="relative fluid-container flex flex-col">
        <div class="flex flex-col md:flex-row flex-wrap justify-center -m-4">
            {{ block:rows }}

                {{ media_assets }}
                    <div
                        class="
                            {{# :: Width -------------- #}}
                            w-full

                            {{ if layout === "50_50" }}
                                md:w-1/2

                            {{ elseif layout === "66_33" }}
                                {{ index === 0 ? "md:w-2/3" : "md:w-1/3" }}

                            {{ elseif layout === "33_66" }}
                                {{ index === 0 ? "md:w-1/3" : "md:w-2/3" }}

                            {{ elseif layout === "33_33_33" }}
                                md:w-1/3
                            {{ /if }}

                            {{# :: Height -------------- #}}
                            {{ if layout === "100" }}
                                h-[80vh]
                            {{ else }}
                                h-64 sm:h-96 md:h-[32vw] max-h-[544px]
                            {{ /if }}

                            p-4
                        "
                    >

                        <div
                            x-data="parallaxBackground()"
                            x-init="
                                scaleStart = 1.1;
                                scaleEnd = 1.1;
                                yStart = -8;
                                yEnd = 8;
                                $nextTick(() => {
                                    trigger = $refs.container;
                                    mounted();
                                });
                            "
                            x-ref="container"
                            x-cloak
                            class="relative w-full h-full bg-sky {{ layout !== "100" ? "rounded-full" : "rounded-4xl" }} overflow-hidden"
                        >


                            <div x-ref="background" class="absolute inset-0 w-full h-full">
                                <div
                                    x-data="fadeIn()"
                                    x-init="
                                        scale = true;
                                        delay = $store.animationDelay + {{ increment:block{{ index }} by="0.3" }};
                                        $nextTick(() => {
                                            trigger = $refs.container;
                                            mounted();
                                        });
                                    "
                                    class="absolute inset-0 w-full h-full"
                                >

                                    {{ partial:components/background
                                        :asset_type="asset_type"
                                        :image="image"
                                        :webm="webm"
                                        :mp4="mp4"
                                        :poster="poster"
                                        attribute="x-ref='element'"
                                    }}

                                </div>
                            </div>
                        </div>
                    </div>
                {{ /media_assets }}

            {{ /block:rows }}
        </div>
    </div>
</section>
