{{#
	@name People
	@desc Grid of People entries that can be opened in a modal
    @set page.blocks.people
#}}

<section
    class="
        fluid-container
        {{ dark_mode ?= "text-white" }}
    "
>

    {{ partial:typography/h2
        as="div"
        :content="block:headline"
        class="max-w-6xl bold-highlight text-center md:text-left"
        attribute="
            x-data='words()'
            x-init='mounted()'
            x-ref='element'
        "
    }}

    <div class="flex justify-end xl:mr-16 mt-12">
        <div
            x-data="fadeIn()"
            x-init="
                delay = $store.animationDelay + 0.2;
                mounted();
            "
            x-ref="element"
            class="max-w-3xl flex justify-center md:justify-end flex-wrap gap-16"
        >
            {{ block:people }}
                {{ partial:components/person_thumb }}
            {{ /block:people }}

        </div>
    </div>

</section>
