{{#
	@name Reviews
	@desc Shows the entries in the Reviews collection.
    @set page.blocks.reviews
#}}

<section
    class="
        fluid-container flex flex-wrap gap-5

        {{ if alignment === "center" }}
            justify-center text-center
        {{ elseif alignment === "right" }}
            justify-end
        {{ /if }}

        {{ dark_mode ?= "text-white" }}
    "
>

<div
    class="
        flex flex-wrap

        {{ if alignment === "center" }}
            justify-center text-center
        {{ elseif alignment === "right" }}
            justify-end
        {{ /if }}
        -m-6
    "
>

    {{ reviews }}

        <div
            class="
                {{ if size === "md" or size === "sm" }}
                    flex-grow lg:w-1/2 max-w-4xl 2xl:max-w-5xl
                {{ elseif size === "xs" }}
                    flex-grow md:w-1/2 lg:w-1/3 max-w-3xl 2xl:max-w-4xl
                {{ /if }}

                p-6 bold-highlight
            "
        >

            {{ partial src="components/reviews/{size}" }}

        </div>

    {{ /reviews }}

</div>
</section>
