{{#
	@name Split
	@desc Text content and media asset split
    @set page.blocks.split
#}}

<section
    x-data=""
    class="
        relative flex flex-col
        {{ block:alignment === "left" ? "lg:flex-row-reverse" : "lg:flex-row" }}
        w-full lg:min-h-screen
        {{ partial:snippets/no_block_spacing }}
    "
>
    {{# -- π ----
    // :: MEDIA
    // : ------------------------------------ #}}
    <div class="relative w-full lg:w-1/2 h-80 sm:h-96 md:h-[32rem] lg:h-full bg-neutral-900">
        {{ block:media }}
            <div
                x-data="parallaxBackground()"
                x-init="
                    scaleStart = 1.4;
                    scaleEnd = 1.4;
                    yStart = -12;
                    yEnd = 12;
                    $nextTick(() => {
                        mounted();
                    });
                "
                x-ref="container"
                x-cloak
                class="relative w-full h-full overflow-hidden"
            >

                <div x-ref="background" class="absolute inset-0 w-full h-full">
                    <div
                        x-data="fadeIn()"
                        x-init="
                            scale = true;
                            delay = $store.animationDelay + 0.2;
                            $nextTick(() => {
                                trigger = $refs.container;
                                mounted();
                            });
                        "
                        class="absolute inset-0 w-full h-full"
                    >

                        {{ partial:components/background
                            :asset_type="asset_type"
                            :image="image"
                            :video="video"
                            :poster="poster"
                            attribute="x-ref='background'"
                        }}

                    </div>
                </div>

            </div>
        {{ /block:media }}
    </div>

    {{# -- π ----
    // :: CONTENT
    // : ------------------------------------ #}}
    <div x-ref="content" class="flex flex-col justify-center gap-8 w-full lg:w-1/2 px-10 py-16 md:p-12 lg:p-8 xl:p-10 2xl:p-20 3xl:p-24 text-black">
        {{ if block:subtitle_top }}
            {{ partial:typography/h4
                :content="block:subtitle_top"
                class="mb-1"
                attribute="
                    x-data='words()'
                    x-init='
                        delay = $store.animationDelay + {increment:block{{ index }} by="0.4"};
                        trigger = $refs.content;
                        mounted();
                    '
                    x-ref='element'
                "
            }}
        {{ /if }}

        {{# :: Title
        {+} ------------------------------------ #}}
        {{ partial:typography/h2
            :content="block:title"
            class="{{ !block:subtitle_bottom ?= 'mb-8' }}"
            attribute="
                x-data='words()'
                x-init='
                    trigger = $refs.content;
                    mounted();
                '
                x-ref='element'
            "
        }}

        {{ if block:subtitle_bottom }}
            {{ partial:typography/h4
                :content="block:subtitle_bottom"
                color="text-secondary"
                attribute="
                    {{# x-data='lines()' #}}
                    x-data='fadeIn()'
                    x-init='
                        delay = $store.animationDelay + {increment:block{{ index }} by="0.4"};
                        trigger = $refs.content;
                        mounted();
                    '
                    x-ref='element'
                "
            }}
        {{ /if }}


        {{# :: Text
        {+} ------------------------------------ #}}
        {{ if block:text }}
            {{ partial:typography/paragraph
                class="max-w-xl"
                :content="block:text | nl2br"
                attribute="
                    {{# x-data='lines()' #}}
                    x-data='fadeIn()'
                    x-init='
                        delay = $store.animationDelay + {increment:block{{ index }} by="0.4"};
                        trigger = $refs.content;
                        mounted();
                    '
                    x-ref='element'
                "
            }}
        {{ /if }}


        {{# :: Buttons
        {+} ------------------------------------ #}}
        {{ partial:components/buttons
            :buttons="block:buttons"
            style="white"
            attribute="
                x-data='fadeIn()'
                x-init='
                    delay = $store.animationDelay + {increment:block{{ index }} by="0.7"};
                    trigger = $refs.content;
                    mounted();
                '
                x-ref='element'
            "
        }}
    </div>
</section>
