{{#
    @name Primary Transition
    @desc Transition between pages.
    @type component
#}}

<div
    x-data
    data-transition-primary
    class="fixed z-50 inset-0 flex w-full h-screen overflow-hidden opacity-0 invisible"
>
    <div data-cover class="absolute inset-0 w-full h-full bg-neutral-800"></div>

    <div
        class="absolute inset-0 flex items-center justify-center"
        x-cloak
    >
        <div data-logo class="flex justify-center items-center w-96 h-96 p-4 rounded-full border-8 border-neutral-400">
            {{ svg src="visuals/logomark" class="text-primary" }}
        </div>
    </div>
</div>
