{{#
    @name Primary Once Transition
    @desc Transition on the first page load.
    @type component
#}}

<div
    x-data
    data-transition-primary-once
    class="fixed z-50 inset-0 flex w-full h-screen overflow-hidden"
>
    <div data-curtain class="absolute z-20 inset-0 w-full h-full bg-secondary"></div>
    <div data-curtain class="absolute z-10 inset-0 w-full h-full bg-primary"></div>
    <div data-curtain class="absolute inset-0 w-full h-full bg-secondary-500"></div>

    <div
        class="absolute z-20 inset-0 flex items-center justify-center"
        x-cloak
    >
        <div data-logo class="flex justify-center items-center w-96 h-96 p-4 rounded-full border-8 border-tertiary">
            {{ svg src="visuals/logomark" class="text-tertiary" }}
        </div>
    </div>
</div>
