{{#
	@name Layout
	@desc The default layout file.
#}}

<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">

        {{# Remove the following line if you want to use an addon for SEO. #}}
        {{ partial:snippets/seo }}

        {{ partial:snippets/favicons }}
    </head>

    <body
        data-portal="realm"
        class="min-h-screen bg-white text-black antialiased"
    >

        {{ partial:modules/loader }}

        <div
            data-portal="destination"
            data-portal-namespace="primary"
            class=""
        >
            {{ partial:components/toolbar }}

            {{# Remove the following line if you want to use an addon for SEO. #}}
            {{ yield:seo_body }}

            {{# {{ partial:modules/lightbox_video }} #}}
            {{ partial:modules/header }}

            {{ template_content }}

            {{ partial:modules/footer }}
        </div>

        {{ partial:components/cursor }}

        <script src="{{ mix src='/js/manifest.js' }}"></script>
        <script src="{{ mix src='/js/vendor.js' }}"></script>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
