{{#
	@name Footer
	@desc The sites footer rendered on each page.
#}}

<footer
    class="fluid-container"
>
    <div
        class="
            flex flex-col lg:flex-row
            justify-between items-center gap-8
            mt-12 w-full lg:px-10 lg:py-8
            lg:border border-tertiary-600 rounded-full
        "
    >
        {{ partial:navigation/nav_footer }}
        {{ partial:components/social_items }}
    </div>

    <div class="py-6 text-tertiary-700 text-center">
        {{ partial:typography/meta
            content="© {now|format:Y} {{ site.name }}"
        }}
    </div>
</footer>
