{{#
	@name Footer
	@desc The sites footer rendered on each page.
#}}

<footer
    x-data="fadeIn()"
    x-init="mounted()"
    x-ref="element"
    class="fluid-container"
>

    <div class="flex flex-col lg:flex-row justify-between items-center gap-8 mt-12 w-full lg:px-10 lg:py-8 lg:border border-tertiary-600 rounded-full">
            <nav class="hidden lg:flex space-x-4">
                {{ nav:footer max_depth="1" }}
                    {{ partial:components/nav_item_small }}
                {{ /nav:footer }}
            </nav>

            {{ if social_media }}
                <div
                    class="flex space-x-3"
                >

                    {{ social_media:social_media }}
                        {{ partial:components/social_item }}
                    {{ /social_media:social_media }}

                </div>
            {{ /if }}

    </div>

    <div class="py-6 text-tertiary-700 text-center">
        {{ partial:typography/meta
            content="© {now|format:Y} {{ site.name }}"
        }}
    </div>
</footer>

