{{#
    @name Hero Home Content
    @desc Content Module containing inner components
#}}

<div
    x-ref="content"
    class="fluid-container relative flex justify-center lg:justify-end items-end lg:items-center w-full min-h-screen pt-12 pb-8"
>

    <div class="relative flex flex-col items-center lg:items-end gap-5 mt-[70vh] lg:mt-0 w-full lg:w-1/2 xl:w-2/5 lg:h-full">
        <div class="flex-grow hidden lg:flex justify-end items-center w-full">
            <div class="relative w-1/2 xl:w-2/3 2xl:w-[62%] aspect aspect-[6/11] rounded-full">

                <div
                    x-data="parallax"
                    x-init="
                        start = 'top top';
                        yStart = 0;
                        yEnd = -50;
                        scrub = 0.8;
                        trigger = $refs.heroContainer;
                        $nextTick(() => {
                            mounted();
                        });
                    "
                    x-ref="element"
                    class="absolute inset-0 w-full h-full"
                >

                    <div
                        x-data="fadeIn"
                        x-init="
                            translate = 'y';
                            yStart = 30;
                            opacityDuration = 0.8;
                            translateDuration = 1;
                            scrollTrigger = false;
                            delay = $store.enterDelay + 0.8;
                            mounted();
                        "
                        x-ref="element"
                        class="absolute inset-0 w-full h-full"
                    >

                        <div
                            x-data="parallaxBackground()"
                            x-init="
                                scaleStart = 1.18;
                                scaleEnd = 1.18;
                                yStart = -15;
                                yEnd = 15;
                                trigger = $refs.container;
                                $nextTick(() => {
                                    mounted();
                                });
                            "
                            x-ref="container"
                            x-cloak
                            class="relative w-full h-full rounded-full bg-neutral overflow-hidden"
                        >

                            {{ partial:components/background
                                :asset_type="hero_preview_asset_type"
                                :image="hero_preview_image"
                                :webm="hero_preview_webm"
                                :mp4="hero_preview_mp4"
                                :poster="hero_preview_poster"
                                attribute="x-ref='background'"
                            }}

                        </div>

                    </div>

                </div>

                {{ if hero_play_video }}

                    <div
                        x-data="parallax()"
                        x-init="
                            start = 'top top';
                            yStart = 0;
                            yEnd = -120;
                            scrub = 0.9;
                            trigger = $refs.heroContainer;
                            $nextTick(() => {
                                mounted();
                            });
                        "
                        x-ref="element"
                        class="absolute inset-0 w-full h-full"
                    >

                        <div
                            x-data="fadeIn()"
                            x-init="
                                translate = 'y';
                                yStart = 50;
                                opacityDuration = 0.9;
                                translateDuration = 1;
                                scrollTrigger = false;
                                delay = $store.enterDelay + 1;
                                mounted();
                            "
                            x-ref="element"
                            class="absolute inset-0 w-full h-full"
                        >

                            <div class="absolute inset-0 flex items-center w-56 h-full -translate-x-1/2">

                                <button
                                    @click="
                                        $store.lightboxVideo.source = '{{ hero_player_source }}';
                                        $store.lightboxVideo.vimeo = '{{ hero_player_vimeo }}';
                                        $store.lightboxVideo.youtube = '{{ hero_player_youtube }}';
                                        $store.lightboxVideo.mp4 = '{{ hero_player_mp4 }}';
                                        $store.lightboxVideo.webm = '{{ hero_player_webm }}';
                                        $store.lightboxVideo.poster = '{{ hero_player_poster }}';
                                        $store.lightboxVideo.open = true;
                                    "
                                    x-ref="button"
                                    class="relative flex justify-center items-center w-56 h-56 rounded-full focus:outline-none group"
                                >

                                    <div
                                        x-data="magnetic(55)"
                                        x-ref="element"
                                        @mousemove="magnetize($event, $el, $refs.element)"
                                        @mouseleave="demagnetize($refs.element)"
                                        class="absolute inset-0 flex justify-center items-center w-full h-full"
                                    >
                                        <div class="opacity-50 group-hover:opacity-100 group-hover:scale-90 transition">
                                            {{ svg:visuals/play-spin class="animate-spin-super-slow" }}
                                        </div>
                                    </div>

                                    <div
                                        x-data="magnetic(85)"
                                        x-ref="element"
                                        @mousemove="magnetize($event, $el, $refs.element)"
                                        @mouseleave="demagnetize($refs.element)"
                                        class="relative"
                                    >
                                        <div class="flex justify-center items-center w-28 h-28 rounded-full bg-white group-hover:scale-90 transition-transform">
                                            {{ svg:visuals/play class="ml-1 w-5 group-hover:scale-110 transition-transform" }}
                                        </div>
                                    </div>

                                </button>

                            </div>

                        </div>

                    </div>
                {{ /if }}
            </div>
        </div>

        <button
            @click="
                $store.lightboxVideo.source = '{{ hero_player_source }}';
                $store.lightboxVideo.vimeo = '{{ hero_player_vimeo }}';
                $store.lightboxVideo.youtube = '{{ hero_player_youtube }}';
                $store.lightboxVideo.mp4 = '{{ hero_player_mp4 }}';
                $store.lightboxVideo.webm = '{{ hero_player_webm }}';
                $store.lightboxVideo.poster = '{{ hero_player_poster }}';
                $store.lightboxVideo.open = true;
            "
            class="flex lg:hidden justify-center items-center w-12 h-12 rounded-full bg-white focus:outline-none"
        >

            {{ svg:visuals/play class="ml-1 w-4 group-hover:scale-110 transition-transform" }}
        </button>

        {{ if hero_text }}
            {{ partial:typography/paragraph
                attribute="
                    x-data='fadeIn()'
                    x-init='
                        scrollTrigger = false;
                        delay = $store.enterDelay + 1.5;
                        mounted();
                    '
                    x-ref='element'
                "
                as="p"
                :content="hero_text | nl2br"
                margin="mb-0"
            }}
        {{ /if }}

        {{ if logged_in }}
            {{ if current_user:plan }}
                <div>
                    {{ partial:components/button
                        label="Watch Now"
                        action="url"
                        url="./videos/unspoken-part-one"
                    }}
                </div>
            {{ /if }}

        {{ elseif hero_buttons }}
            {{ partial:components/buttons
                :buttons="hero_buttons"
                attribute="
                    x-data='fadeIn()'
                    x-init='
                        scrollTrigger = false;
                        delay = $store.enterDelay + 1.6;
                        mounted();
                    '
                    x-ref='element'
                "
            }}
        {{ /if }}

    </div>
</div>
