{{#
	@name Hero Video
	@desc Hero for playing videos in. Used on the Video template.
#}}

<section
    x-data
    class="relative flex items-center w-full min-h-screen bg-black text-white overflow-hidden"
>
    {{# -- π ----
    // :: BACKGROUND
    // : ------------------------------------ #}}
    <div
        x-data="parallaxBackground()"
        x-init="
            yStart = 0;
            start = 'top top';
            trigger = $refs.container;
            scrub = 1;
            $nextTick(() => {
                mounted();
            });
        "
        x-ref="container"
        class="absolute inset-0 w-full h-full overflow-hidden"
    >

        {{# {{ partial:components/background
            asset_type="video"
            webm="/visuals/runes.webm"
            mp4="/visuals/runes.mp4"
            poster="/visuals/runes.jpg"
            attribute="x-ref='background'"
        }} #}}

        <img
            x-ref="background"
            src="/visuals/runes.jpg"
            alt=""
            class="w-full h-full object-cover"
        >
    </div>

    {{# -- π ----
    // :: CONTENT
    // : ------------------------------------ #}}
    <div
        x-ref="container"
        class="
            container relative flex flex-col items-center justify-center gap-8 w-full pt-24 pb-16
        "
    >

        <div
            class="relative lg:flex-grow flex items-center w-full h-20 px-10 py-4 text-secondary"
        >

            <div
                x-data="fadeIn()"
                x-init="
                    scrollTrigger = false;
                    delay = $store.enterDelay + 0.6;
                    mounted();
                "
                x-ref="element"
                class="absolute inset-0 w-full h-full border border-secondary rounded-full"
            ></div>

            {{ partial:typography/h4
                as="h1"
                :content="title"
                class="relative"
                attribute="
                    x-data='words()'
                    x-init='
                        scrollTrigger = false;
                        delay = $store.enterDelay;
                        {{ noparse }}
                            $nextTick(() => {
                                trigger = $refs.content;
                                mounted();
                            });
                        {{ /noparse }}
                    '
                    x-ref='element'
                "
            }}

        </div>

        {{# :: Player
        {+} ------------------------------------ #}}
        {{ hero_video }}
            <div
                x-data="fadeIn()"
                x-init="
                    scrollTrigger = false;
                    delay = $store.enterDelay + 0.8;
                    mounted();
                "
                x-ref="element"
                class="relative w-full"
            >

                {{ partial:components/video_player autoplay="true" }}

            </div>
        {{ /hero_video }}

    </div>
</section>
