{{#
    @name Type Scaffold
    @desc Lists out all the typography partials and their variations if they have any. This makes bulk styling all the text easy.
#}}


<div class="grid gap-10 max-w-3xl mx-auto p-8">
    {{ partial:typography/h1
        content="Heading 1"
    }}

    {{ partial:typography/h2
        content="Heading 2"
    }}

    {{ partial:typography/h2
        content="Heading 2"
        weight="font-normal"
    }}

    {{ partial:typography/h3
        content="Heading 3"
    }}

    {{ partial:typography/h4
        content="Heading 4"
    }}

    {{ partial:typography/h5
        content="Heading 5"
    }}

    {{ partial:typography/h6
        content="Heading 6"
    }}

    {{ partial:typography/meta
        content="This is some meta."
    }}

    {{ partial:typography/paragraph
        content="Ex eiusmod labore fugiat in ad excepteur mollit et voluptate enim occaecat. Consequat quis magna dolor occaecat mollit laborum amet do. Nulla adipisicing commodo enim ad minim. Cillum nulla esse est deserunt dolor dolor ullamco labore dolore velit dolore ullamco. Voluptate ad aliquip non fugiat aliquip id culpa deserunt duis adipisicing ea. Laborum nulla ipsum ut id esse qui non tempor minim reprehenderit proident pariatur amet. Amet velit proident occaecat ipsum minim deserunt et non quis ad aute. Incididunt nisi nisi ex."
        size="lg"
    }}

    {{ partial:typography/paragraph
        content="Ex eiusmod labore fugiat in ad excepteur mollit et voluptate enim occaecat. Consequat quis magna dolor occaecat mollit laborum amet do. Nulla adipisicing commodo enim ad minim. Cillum nulla esse est deserunt dolor dolor ullamco labore dolore velit dolore ullamco. Voluptate ad aliquip non fugiat aliquip id culpa deserunt duis adipisicing ea. Laborum nulla ipsum ut id esse qui non tempor minim reprehenderit proident pariatur amet. Amet velit proident occaecat ipsum minim deserunt et non quis ad aute. Incididunt nisi nisi ex."
    }}
</div>
